
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: #F5F5F1;
}

.full-page{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.header{
  background-color: white;
}

form{
  display: inline-block;
}

.topbar{
  display:inline-block;
  width:100%;
  border-bottom: 1px solid #DEDEDA;
}

.etsy-logo{
  height: 80px;
}

.quicklinks{
  float: right;
}

.categories{
  border-bottom: 1px solid #DEDEDA;
}

.main{

}

ul{
  list-style: none;
}

.pictemplate{
  background-color: white;
  border: 1px solid #E1E3DF;
  max-width: 230px;
  max-height: 230px;
  margin-top:24px;
  margin-bottom: 10px;
}

.pictemple:hover{
  border: 2px solid #E1E3DF;
}

.item-pic{
  min-width: 100%;
}

h5 {
  font-size: 12px;
  overflow: hidden;
  height:14px;
}

.creator{
  color: #9B9B9B;
}

.price{
  color:#8DCA5F;
  float: right;
}

.price::before{
  content:'$';
}
